.countdown-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .countdown {
    display: flex;
    justify-content: center;
  }
  
  .countdown-item {
    margin: 0 20px;
    font-size: 24px;
  }
  
  .countdown-item span:first-child {
    font-size: 36px;
    font-weight: bold;
  }
  
  .countdown-item span:last-child {
    font-size: 14px;
  }
  