body {
    font-family: 'San Francisco', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    padding-top: 120px;  /* Adjusted padding to shift content down */
}

header {
    background: #6035359d;  /* Red Color */
    color: #0a0000;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    background-color: #f1f1f1;
    color: #333;
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0;  /* Adjusted top value */
    z-index: 999;  /* lower z-index to keep it below header */
    margin-top: 60px;  /* Adjusted margin-top */
}

nav a {
    margin: 15px;
    color: #333;
    text-decoration: none;
    padding: 8px;
    background-color: #eee;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #050000;
}

.content {
    padding: 20px;
    padding-top: px; /* Adjusted increased padding-top value */
}
